[
    { rabbit, [
%%      kept 'rabbit_auth_backend_internal' only for for management console access as guest
            { auth_backends, [ rabbit_auth_backend_internal, rabbit_auth_backend_http ] },
            { loopback_users, [ ] },
            { tcp_listeners, [ 5672 ] },
            { ssl_listeners, [ ] },
            { hipe_compile, false }
    ] },
%%  http://www.rabbitmq.com/community-plugins.html
%%  https://github.com/rabbitmq/rabbitmq-auth-backend-http
%%  TBD add rabbitmq_auth_backend_cache?
    { rabbitmq_auth_backend_http, [
            { http_method, post },
            { user_path,      "http://auth-service:8000/sync/auth/user" },
            { vhost_path,     "http://auth-service:8000/sync/auth/vhost" },
            { resource_path,  "http://auth-service:8000/sync/auth/resource" },
            { resource_topic, "http://auth-service:8000/sync/auth/topic" }
%%                             https:// also possible, but not needed since this is internal traffic
    ] },
    { rabbitmq_management, [
            { listener, [
                    { port, 15672 },
                    { ssl, false }
            ] }
    ] }
].
