[
  {rabbit, [
    {auth_backends, [rabbit_auth_backend_internal, rabbit_auth_backend_http]},
    {loopback_users, []},
    {tcp_listeners, [5672]},
    {ssl_listeners, []},
    {hipe_compile, false}
  ]},
  {rabbitmq_management, [
    {listener, [
      {port, 15672},
      {ssl, false}
    ]}
    ,
    {load_definitions, "/etc/rabbitmq/rabbitmq_definitions.json"}
  ]},
%%  http://www.rabbitmq.com/community-plugins.html
%%  https://github.com/rabbitmq/rabbitmq-auth-backend-http
%%  TBD add rabbitmq_auth_backend_cache?
  {rabbitmq_auth_backend_http, [
    {http_method, post},
    {user_path, "http://auth-service:8000/auth/user"},
    {vhost_path, "http://auth-service:8000/auth/vhost"},
    {resource_path, "http://auth-service:8000/auth/resource"},
    {resource_topic, "http://auth-service:8000/auth/topic"}
  ]},
%%  https://rabbitmq.docs.pivotal.io/36/rabbit-web-docs/mqtt.html#d44e103
%%  https://www.rabbitmq.com/web-mqtt.html
  {rabbit_mqtt, [
    {allow_anonymous,  false},
    {vhost,            <<"/">>},
    {exchange,         <<"amq.topic">>}
  ]}
].
